.container {
  margin-left: 30 px;
}

.imgBox {
  align-content: center;
}

.imgIcon {
  width: 100px;
  margin-left: 20%;
  margin-bottom: 15%;
}

.banner {
  width: 100%;
}

.icon {
  font-size: 30px;
}
