.home-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  padding: 20px;
}

.home-intro {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
  padding-right: 30px;
  text-align: left;
}

.home-heading {
  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2b2d42;
  text-align: left;
  margin-bottom: 20px;
}

.home-main {
  text-align: justify;
  position: relative;
  overflow: hidden;
  padding: 0px 90px;
}

.home-services {
  display: grid;
  height: auto;
  grid-gap: 20px;
  grid-auto-rows: repeat(3, 1fr);
  padding: 10px;
}

.home-serviceIcon {
  font-size: 3.4rem;
  padding: 20px 0px 20px 90px;
  margin: 0px 0px 30px 0px;
  text-align: left;
  border-bottom: 2px solid #edf2f4;
}

.home-serviceTitle {
  font-size: 2.1rem;
  padding: 0;
  margin: 0;
  color: #ef233c;
}

.home-serviceOne {
}
.home-serviceTwo {
}
.home-serviceThree {
}

.home-gallery {
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 95%;
  margin: 80px auto 0px auto;
}

.home-photos {
  max-width: 100%;
  height: auto;
  position: center;
  overflow: hidden;
  filter: grayscale(35%);
}

.home-imgOne {
  background-size: 100%;
  align-self: center;
}
