@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Hammersmith+One&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Heebo&display=swap");

/* Global Styles */
:root {
  --burnt: #310b0b;
  --strawberry: #9c3d54;
  --sherbert: #e2703a;
  --peach: #eeb76b;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Manrope", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--burnt);
  color: white;
}
