.static-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  padding: 20px;
}

.static-intro {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
  padding-right: 30px;
  text-align: left;
  color: var(--peach);
}

.static-heading {
  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2b2d42;
  text-align: left;
  margin-bottom: 20px;
}

.static-main {
  text-align: justify;
  position: relative;
  overflow: hidden;
  padding: 0px 90px;
}

.static-services {
  display: grid;
  height: auto;
  grid-gap: 20px;
  grid-auto-rows: repeat(3, 1fr);
  padding: 10px;
}

.static-line {
  font-size: 3.4rem;
  padding: 20px 0px 20px 90px;
  margin: 0px 0px 20px 0px;
  text-align: left;
  border-bottom: 2px solid var(--sherbert);
}

.static-serviceTitle {
  font-size: 2.1rem;
  padding-bottom: 1rem87;
  margin: 0;
  color: var(--peach);
}

.static-gallery {
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 95%;
  margin: 80px auto 0px auto;
}

.static-photos {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  filter: grayscale(35%);
}

.static-contact {
  margin-right: 1rem;
}

.static-text {
  font-size: large;
}
