.static-intro {
  background-color: var(--toasty);
  border: 2px solid var(--strawberry);
  border-radius: 10px;
  color: var(--peach);
  letter-spacing: 2px;
  margin: 1rem 0 1rem 0;
  padding: 0.3rem 0.3rem 0.3rem 5rem;

  text-transform: uppercase;
}

.static-heading {
  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2b2d42;
  text-align: left;
  margin-bottom: 20px;
}

.static-main {
  text-align: justify;
  position: relative;
  overflow: hidden;
  padding: 0px 90px;
}

.static-services {
  display: grid;
  height: auto;
  grid-gap: 20px;
  grid-auto-rows: repeat(3, 1fr);
  padding: 10px;
}

.static-line {
  margin: 1rem 0 1rem 0;
  border-bottom: 2px solid var(--sherbert);
}

.static-serviceTitle {
  font-size: 2.1rem;
  padding-bottom: 1rem87;
  margin: 0;
  color: var(--peach);
}

.static-gallery {
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 95%;
  margin: 80px auto 0px auto;
}

.static-photos {
  display: flex;
  background-color: var(--burnt);
  border-radius: 10px;
  border: 2px solid var(--strawberry);
  overflow: auto;
  padding: 2rem;
  filter: grayscale(35%);
  margin: 1rem 0 1rem 0;
  width: fit-content;
}

.static-contact {
  margin-right: 1rem;
}

.static-text {
  border: 2px solid var(--strawberry);
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--burnt);
  font-size: large;
  margin: 0 1rem 0 0;
  padding: 2rem;
  width: 30rem;
}

.static-box {
  display: flex;
  background-color: var(--toasty);
  border: 2px solid var(--strawberry);
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 0 1rem 0;
  flex-wrap: wrap;
}

.static-contrast {
  display: flex;
  justify-content: space-between;
  background-color: var(--burnt);
  border: 2px solid var(--strawberry);
  padding: 1rem 0.4rem 1rem 1rem;
  border-radius: 10px;
  width: 12rem;
}
