.toolbar-main {
  display: flex;
  background: #bd0028;
  height: 3rem;
  padding: 1rem;
  justify-content: space-between;
}
.toolbar-info {
  height: 1rem;
  display: flex;
  justify-content: space-between;
}
.toolbar-info img {
  height: 3rem;
  width: 3rem;
}
.toolbar-info h1 {
  color: white;
  margin: 0 0 0 2rem;
}
